In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [16]:
# YOUR CODE HERE
file_path = '/Users/Nsumbana/Downloads/exchange_rate_to_usd.csv'

# Read the CSV file
data = pd.read_csv(file_path)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5167 entries, 0 to 5166
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        5167 non-null   object
 1   chinese_yuan_to_usd         4794 non-null   float64
 2   euro_to_usd                 5099 non-null   float64
 3   japanese_yen_to_usd         4886 non-null   float64
 4   uk_pound_to_usd             5074 non-null   float64
 5   us_dollar_to_usd            5167 non-null   float64
 6   algerian_dinar_to_usd       3276 non-null   float64
 7   australian_dollar_to_usd    4937 non-null   float64
 8   bahrain_dinar_to_usd        3762 non-null   float64
 9   botswana_pula_to_usd        4836 non-null   float64
 10  brazilian_real_to_usd       4690 non-null   float64
 11  brunei_dollar_to_usd        4847 non-null   float64
 12  canadian_dollar_to_usd      4784 non-null   float64
 13  chilean_peso_to_usd         4917 non-null   float64
 14  colombian_peso_to_usd       4058 non-null   float64
 15  czech_koruna_to_usd         4955 non-null   float64
 16  danish_krone_to_usd         4930 non-null   float64
 17  hungarian_forint_to_usd     3641 non-null   float64
 18  icelandic_krona_to_usd      3669 non-null   float64
 19  indian_rupee_to_usd         4736 non-null   float64
 20  indonesian_rupiah_to_usd    3540 non-null   float64
 21  iranian_rial_to_usd         2762 non-null   float64
 22  israeli_new_shekel_to_usd   4791 non-null   float64
 23  kazakhstani_tenge_to_usd    3099 non-null   float64
 24  korean_won_to_usd           4819 non-null   float64
 25  kuwaiti_dinar_to_usd        4371 non-null   float64
 26  libyan_dinar_to_usd         3760 non-null   float64
 27  malaysian_ringgit_to_usd    4816 non-null   float64
 28  mauritian_rupee_to_usd      4678 non-null   float64
 29  mexican_peso_to_usd         4729 non-null   float64
 30  nepalese_rupee_to_usd       3512 non-null   float64
 31  new_zealand_dollar_to_usd   4936 non-null   float64
 32  norwegian_krone_to_usd      4902 non-null   float64
 33  omani_rial_to_usd           4810 non-null   float64
 34  pakistani_rupee_to_usd      3420 non-null   float64
 35  peruvian_sol_to_usd         3025 non-null   float64
 36  philippine_peso_to_usd      3142 non-null   float64
 37  polish_zloty_to_usd         4948 non-null   float64
 38  qatari_riyal_to_usd         4807 non-null   float64
 39  russian_ruble_to_usd        4784 non-null   float64
 40  saudi_arabian_riyal_to_usd  4792 non-null   float64
 41  singapore_dollar_to_usd     4935 non-null   float64
 42  south_african_rand_to_usd   4694 non-null   float64
 43  sri_lankan_rupee_to_usd     3501 non-null   float64
 44  swedish_krona_to_usd        4885 non-null   float64
 45  swiss_franc_to_usd          4970 non-null   float64
 46  thai_baht_to_usd            4687 non-null   float64
 47  trinidadian_dollar_to_usd   4593 non-null   float64
 48  tunisian_dinar_to_usd       1880 non-null   float64
 49  uae_dirham_to_usd           4818 non-null   float64
 50  uruguayan_peso_to_usd       3085 non-null   float64
 51  bolivar_fuerte_to_usd       2382 non-null   float64
dtypes: float64(51), object(1)
memory usage: 2.1+ MB

In [ ]:
selected_features = ['GrLivArea', 'BedroomAbvGr', 'KitchenAbvGr',
                     'OverallCond',
                     'RoofSurface',
                     'GarageFinish',
                     'CentralAir',
                     'ChimneyStyle',
                     'MoSold',
                     'SalePrice']